@import "variables";

.page_footer {
  background-color: var(--footer-bg);
  color: var(--text-color-dark);

  &__wrapper {
    max-width: var(--desk-max-width);
    margin-inline: auto;
    display: grid;
  }
}

.location__address,
.location__desc,
.helpdesk__infos,
.credits__desc {
  margin: 0;
}

.location__title,
.socials__title {
  color: var(--footer-accent);
  font-family: Museo, sans-serif;
  margin: 0;
  line-height: 100%;
}

.helpdesk__link,
.credits__copyrights {
  text-decoration: none;
  color: var(--footer-accent);
}

.socials__link {
  text-decoration: none;
  color: #eee7df;
}

.socials {
  &__icon {
    font-size: 24px;
    transform: translateY(2px);
  }
}

@media screen and (max-width: $mobile) {
  .page_footer {
    &__wrapper {
      padding-inline: var(--mobile-padding);
    }
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .page_footer {
    &__wrapper {
      padding-inline: var(--tablet-padding);
    }
  }

  .location {
    &__address_icon {
      border: 1px solid white;
      display: none;
    }
  }
}

@media screen and (min-width: $tablet) {
  .page_footer {
    &__wrapper {
      padding-inline: var(--desktop-padding);
    }
  }

  .mobile_only {
    display: none;
  }
}

@media screen and (max-width: $tablet) {
  .location {
    &__pic {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile) {
  .page_footer {
    font-size: 14px;
    padding-block: 2rem;
    &__wrapper {
      gap: 24px;
    }
  }

  .location__title,
  .socials__title {
    font-size: 16px;
    margin-block-end: 12px;
  }

  .location {
    &__address {
      display: flex;
      gap: 4px;
      border: 2px solid #504e51;
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border-radius: 2rem;
      font-weight: 700;
      margin-block-end: 8px;
    }

    &__address_icon {
      border: 1px solid white;
    }

    &__desc {
      line-height: 150%;
    }
  }

  .helpdesk {
    display: flex;
    flex-direction: column;
    gap: 0px;

    &__infos {
      line-height: 125%;
      font-weight: 500;
    }

    &__phone {
      font-weight: 700;
    }
  }

  .sponsors {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 3.5rem);
    justify-items: center;
    align-items: center;
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;

    &__title {
      grid-column: 1/-1;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__icon {
      gap: 0px;
    }
  }

  .credits {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .page_footer {
    &__wrapper {
      grid-template-columns: 65% auto;
      gap: 24px 2rem;
      align-items: center;
      padding-block: 2rem;
    }
  }

  .location__title,
  .socials__title {
    margin-block-end: 12px;
  }

  .location {
    &__address {
      font-weight: 700;
      margin-block-end: 8px;
    }

    &__desc {
      line-height: 150%;
    }
  }

  .helpdesk {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__infos {
      font-weight: 500;
    }

    &__phone {
      font-weight: 700;
    }
  }

  .sponsors {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    border: 2px solid #535156;
    border-radius: 4px;
    padding: 1rem 2rem;

    display: grid;
    grid-template-columns: repeat(2, auto);

    &__title {
      grid-column: 1/-1;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
    }
  }

  .credits {
    font-weight: 600;
  }
}

@media screen and (min-width: $tablet) {
  // .location__title,
  // .socials__title {
  //   margin-block-end: 12px;
  // }

  // .helpdesk {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 4px;

  //   &__infos {
  //     font-weight: 500;
  //   }

  //   &__phone {
  //     font-weight: 700;
  //   }
  // }

  // .sponsors {
  //   grid-column: 1/-1;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  // .socials {
  //   border: 2px solid #535156;
  //   border-radius: 4px;
  //   padding: 1rem 2rem;

  //   display: grid;
  //   grid-template-columns: repeat(2, auto);

  //   &__title {
  //     grid-column: 1/-1;
  //   }

  //   &__link {
  //     display: flex;
  //     align-items: center;
  //     gap: 4px;
  //     font-weight: 500;
  //   }
  // }

  // .credits {
  //   font-weight: 600;
  // }
}
