@import "variables";

@media screen and (max-width: $mobile) {
  .page_header {
    padding-inline: var(--mobile-padding);
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .page_header {
    padding-inline: var(--tablet-padding);
  }
}

@media screen and (min-width: $tablet) {
  .page_header {
    padding-inline: var(--desktop-padding);
    margin: auto;
  }
}

.page_header {
  max-width: var(--desk-max-width);
  margin-inline: auto;

  &__wrapper {
    min-height: 64px;
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(5rem, 2fr);
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__logo {
    transform: translateY(4px);
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: Maven, sans-serif;
    font-weight: 500;
  }

  &__nav_list {
    list-style: none;
    padding: 0;

    display: flex;
  }

  &__nav_link {
    text-decoration: none;
    color: black;
  }

  // phone and tablet
  @media screen and (max-width: $tablet) {
    &__title {
      position: relative;
      z-index: 1;
    }

    &__nav {
      font-size: 24px;
    }

    &__nav_list {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;

      position: absolute;
      inset: 0;
      inset-inline: -100vw 100vw;
      margin: 0;
      padding-block-end: 32px;
      padding-inline-end: 16px;

      background-color: var(--menu-bg);
    }

    &__nav_item:last-child > &__nav_link {
      color: var(--primary-accent);
    }

    &__nav_separator {
      display: none;
    }

    &__nav_desktop {
      display: none;
    }

    &__nav_burger {
      display: flex;
      gap: 1rem;
    }

    &__nav_burger > &__nav_link:last-child {
      position: relative;
      z-index: 1;
    }
  }

  @media screen and (min-width: $tablet) {
    &__nav_list {
      gap: 0.5rem;
    }

    &__nav {
      gap: 1rem;
      font-size: 18px;
    }

    &__nav_desktop {
      display: flex;
      gap: 1rem;
    }

    &__nav_link {
      display: flex;
      gap: 4px;
    }

    &__nav_desktop > &__nav_link:first-child {
      color: var(--secondary-accent);
      span {
        margin-inline-end: 4px;
      }
    }

    &__nav_desktop > &__nav_link:last-child {
      color: var(--primary-accent);
    }

    &__nav_burger {
      display: none;
    }
  }
}
